{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/converter.css' %}">
{% endblock %}

{% block content %}
  <h1>Upload Images</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}

    <div id="preview-container"></div>

    <button type="submit" class="btn btn-primary" id="convert-btn">Convert to PDF</button>
  </form>
  <script src="{% static 'js/converter.js' %}"></script>
{% endblock %}


